<div class="container mt-3">
    <div *ngFor="let post of posts">
        <div *ngIf="post.active">
            <div
                class="card"
                [ngClass]="{
                    'bg-black': post.type === 'politic',
                    'bg-primary': post.type === 'education',
                    'bg-warning': post.type === 'news'
                }"
            >
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.body }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
